<div class="col-sm-4">
  <%= form_for(@beer_club) do |f| %>
    <% if @beer_club.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@beer_club.errors.count, "error") %> prohibited this beer_club from being saved:</h2>

        <ul>
        <% @beer_club.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :founded %><br>
      <%= f.number_field :founded, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :city %><br>
      <%= f.text_field :city, class:"form-control" %>
    </div>
    <div class="actions">
      <%= f.submit class:"btn btn-primary" %>
      <%= link_to 'Back', beer_clubs_path, class:'btn btn-warning' %>
    </div>
  <% end %>
</div>