<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<p>
	<% if @user.ratings.count > 0 %>
		<%= @user.username %> has made
		<%= pluralize @user.ratings.count, 'rating' %>.
		Average of ratings is <%= @user.average_rating %>.
		<%= @user.username %>'s favorite style is <%= @user.favorite_style %>
	<% else %>
		hasn't rated anything.
	<% end %>
</p>

<p>Member of
	<% @user.beer_clubs.each do |club| %>
		<%= link_to club.name, club %>
	<% end %>
</p>

<ul>
 <% @user.ratings.each do |rating| %>
   <li>
   		<%= rating %>
   		<% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
   	</li>
 <% end %>
</ul>

<% if @user == current_user %>
	<%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
