<h2><%= @user.username %></h2>

<p>
	<% if @user.ratings.count > 0 %>
		<%= @user.username %> has made
		<%= pluralize @user.ratings.count, 'rating' %>.
		Average of ratings is <%= round @user.average_rating %>.
		<%= @user.username %>'s favorite style is <%= @user.favorite_style.name %>, favorite beer is <%= @user.favorite_beer.name %> and favorite brewery is <%= @user.favorite_brewery.name %>.
	<% else %>
		hasn't rated anything.
	<% end %>
</p>

<% if @user.beer_clubs.count > 0 %>
	<p>Member of
		<% @user.beer_clubs.each do |club| %>
			<%= link_to club.name, club %>
		<% end %>
	</p>
<% end %>

<ul>
 <% @user.ratings.each do |rating| %>
   <li>
   		<%= rating %>
   		<% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
   	</li>
 <% end %>
</ul>

<% if not current_user.nil? and @user == current_user %>
	<br>
	<%= link_to 'Change Password', edit_user_path(@user), class:"btn btn-info" %>
	<%= link_to 'Delete account', @user, method: :delete,
	  data: { confirm: 'Are you sure?' },
	  class:'btn btn-danger' %>
<% end %>
