<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>
<p>
	<em>Established at <%= @brewery.year %></em>
</p>

<h3>Oluet</h3>
<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>

<p>
  <strong>Rating:</strong>
  <% if @brewery.ratings.empty? %>
    No ratings yet!
  <% else %>
    Average of
    <%= pluralize @brewery.ratings.count, "rating" %>
    is <%= @brewery.average_rating %>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>