<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= link_to @beer.brewery.name, @beer.brewery %>
</p>

<p>
  <strong>Rating:</strong>
  <% if @beer.ratings.empty? %>
    No ratings yet!
  <% else %>
    Average of
    <%= pluralize @beer.ratings.count, "rating" %>
    is <%= @beer.average_rating %>
  <% end %>
</p>



<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
