<% cache @beer do %>
  <h2><%= @beer.name %></h2>

  <p>
    <strong>Style:</strong>
    <%= link_to @beer.style.name, @beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to @beer.brewery.name, @beer.brewery %>
  </p>

  <p>
    <strong>Rating:</strong>
    <% if @beer.ratings.empty? %>
      No ratings yet!
    <% else %>
      Average of
      <%= pluralize @beer.ratings.count, "rating" %>
      is <%= round @beer.average_rating %>
    <% end %>
  </p>
<% end %>

<% if current_user %>
  <%= form_for(@rating, html: {:class => 'form-inline'}) do |f| %>
    <%= f.hidden_field :beer_id %>
    <%= f.number_field :score,
      class:'form-control',
      placeholder:'Rate this beer!' %>
    <%= f.submit "Rate!", class:"btn btn-primary" %>
  <% end %>

  <br>
  <%= edit_and_destroy_buttons_for @beer %>
<% end %>