<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
<%= link_to 'breweries', breweries_path %>
<%= link_to 'beers', beers_path %>
<%= link_to 'ratings', ratings_path %>
<%= link_to 'users', users_path %>
<%= link_to 'clubs', beer_clubs_path %> |


<% if current_user.nil? %>
	<%= link_to 'signup', '/signup' %>
	<%= link_to 'signin', '/signin' %>
<% else %>
	<%= link_to current_user.username, user_path(current_user) %>
	<%= link_to 'rate a beer', new_rating_path %>
	<%= link_to 'join a club', new_membership_path %>
	<%= link_to 'signout', '/signout', method: :delete %>
<% end %>

<span id="notice"><%= notice %></span>
</nav>

<section id="content">
	<%= yield %>
</section>

</body>
</html>
